.grid_wrapper {
    display: grid;
    /*  声明列的宽度  */
    grid-template-columns: 180px 1fr ;
    /*  声明行间距和列间距  */

    /*  声明行的高度  */
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    height: 100%;
      
  }

  .menu_box{
    border-right: 1px solid #e8e8e8;

    :global{
      .next-menu-item:not(.next-disabled):hover{
        background-color:none;
      }
    }

   

    .selected_menu_item{
     
      background-color: rgba(32,155,250,0.2)!important;
    } 
    
    .menu_item{
      cursor: pointer;
      height: 45px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .row_item{
        display: flex;
        flex-direction: row;
        width: 138px;
      }

      .name_text{
        display: flex;
        flex: 1;
      }

    }

    .my-menu{
      border: none;
    }
  }

  .add_box{
    text-align: center;
    .button1{
        margin-top: 10px;
        margin-bottom: 10px;
    }

  }