.table-empty-block {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .result-image{
      img{
        height: 120px;
      }
   

  }

  .result_title {
    font-size: 12px;
    line-height: 1.5;
    color: #bcc4cc;
  }