.box_pannel{
  
    padding: 0px 20px ;
    .table_box{
        margin-top: 20px;
     
    }

    .button_title{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-top: 20px;
    }

    .operator_button{
        margin-right: 8px;
    }
}